name: Documentation
on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
          cache: "pip"

      - name: Install dependencies
        run: |
          pip install jupyter-book ghp-import
          pip install -e .[docs]

      - name: Build Jupyter Book
        run: jupyter-book build docs

      - name: Publish to gh-pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: ghp-import -n -p -f docs/_build/html
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
