jupyter==1.1.1
jupytext==1.17.3
nbstripout==0.8.1
pytest==8.4.2
pytest-xdist==3.8.0
nbmake==1.5.5
papermill==2.6.0
jupyter-book==1.0.4.post1
ghp-import==2.1.0
cookiecutter==2.6.0
pytest-cookies==0.7.0
pip-audit==2.9.0
pip-licenses==5.0.0
