.btn {
  font-family: inherit;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.25s;
}

.btn-small {
  padding: 0.4em 0.8em;
  font-size: 0.875em;
}

.btn-medium {
  padding: 0.6em 1.2em;
  font-size: 1em;
}

.btn-large {
  padding: 0.8em 1.6em;
  font-size: 1.125em;
}

.btn-primary {
  background-color: #646cff;
  color: white;
}

.btn-primary:hover {
  background-color: #535bf2;
}

.btn-default {
  background-color: #f9f9f9;
  color: #213547;
  border-color: #d1d1d1;
}

.btn-default:hover {
  border-color: #646cff;
}

@media (prefers-color-scheme: dark) {
  .btn-default {
    background-color: #1a1a1a;
    color: rgba(255, 255, 255, 0.87);
    border-color: #3a3a3a;
  }
}
